{% from "macros/common.j2" import audit_fields, assignments_array, scheduled_action %}
{% if platform == "windows" %}
{
  "@odata.type": "#microsoft.graph.windows10CompliancePolicy",
  {{ audit_fields(id, created_date, modified_date) }},
  "displayName": {{ display_name | tojson }},
  "description": {{ description | tojson }},
  "version": 1,
  "roleScopeTagIds": ["0"],
  "passwordRequired": {{ password_required | tojson }},
  "passwordBlockSimple": {{ password_block_simple | tojson }},
  "passwordRequiredToUnlockFromIdle": false,
  "passwordMinutesOfInactivityBeforeLock": null,
  "passwordExpirationDays": null,
  "passwordMinimumLength": {% if password_min_length > 0 %}{{ password_min_length }}{% else %}null{% endif %},
  "passwordMinimumCharacterSetCount": null,
  "passwordRequiredType": {{ password_required_type | tojson }},
  "passwordPreviousPasswordBlockCount": null,
  "requireHealthyDeviceReport": false,
  "osMinimumVersion": null,
  "osMaximumVersion": null,
  "mobileOsMinimumVersion": null,
  "mobileOsMaximumVersion": null,
  "earlyLaunchAntiMalwareDriverEnabled": false,
  "bitLockerEnabled": {{ bitlocker_enabled | tojson }},
  "secureBootEnabled": {{ secure_boot_enabled | tojson }},
  "codeIntegrityEnabled": {{ code_integrity_enabled | tojson }},
  "storageRequireEncryption": {{ storage_require_encryption | tojson }},
  "activeFirewallRequired": false,
  "defenderEnabled": false,
  "defenderVersion": null,
  "signatureOutOfDate": false,
  "rtpEnabled": false,
  "antivirusRequired": false,
  "antiSpywareRequired": false,
  "deviceThreatProtectionEnabled": {{ device_threat_protection_enabled | tojson }},
  "deviceThreatProtectionRequiredSecurityLevel": {{ device_threat_protection_level | tojson }},
  "configurationManagerComplianceRequired": false,
  "tpmRequired": false,
  "deviceCompliancePolicyScript": null,
  "validOperatingSystemBuildRanges": [],
  "scheduledActionsForRule": [
    {{ scheduled_action(scheduled_actions) }}
  ],
  "assignments": {{ assignments_array(assignments) }}
}
{% elif platform == "ios" %}
{
  "@odata.type": "#microsoft.graph.iosCompliancePolicy",
  {{ audit_fields(id, created_date, modified_date) }},
  "displayName": {{ display_name | tojson }},
  "description": {{ description | tojson }},
  "version": 1,
  "roleScopeTagIds": ["0"],
  "passcodeRequired": {{ password_required | tojson }},
  "passcodeBlockSimple": {{ password_block_simple | tojson }},
  "passcodeMinimumLength": {% if password_min_length > 0 %}{{ password_min_length }}{% else %}null{% endif %},
  "passcodeRequiredType": {{ password_required_type | tojson }},
  "passcodeMinutesOfInactivityBeforeLock": null,
  "passcodeExpirationDays": null,
  "passcodePreviousPasscodeBlockCount": null,
  "passcodeMinimumCharacterSetCount": null,
  "securityBlockJailbrokenDevices": {{ security_block_jailbroken | tojson }},
  "deviceThreatProtectionEnabled": {{ device_threat_protection_enabled | tojson }},
  "deviceThreatProtectionRequiredSecurityLevel": {{ device_threat_protection_level | tojson }},
  "managedEmailProfileRequired": false,
  "osMinimumVersion": null,
  "osMaximumVersion": null,
  "osMinimumBuildVersion": null,
  "osMaximumBuildVersion": null,
  "scheduledActionsForRule": [
    {{ scheduled_action(scheduled_actions) }}
  ],
  "assignments": {{ assignments_array(assignments) }}
}
{% elif platform == "android" %}
{
  "@odata.type": "#microsoft.graph.androidCompliancePolicy",
  {{ audit_fields(id, created_date, modified_date) }},
  "displayName": {{ display_name | tojson }},
  "description": {{ description | tojson }},
  "version": 1,
  "roleScopeTagIds": ["0"],
  "passwordRequired": {{ password_required | tojson }},
  "passwordRequiredType": {{ password_required_type | tojson }},
  "passwordMinimumLength": {% if password_min_length > 0 %}{{ password_min_length }}{% else %}null{% endif %},
  "passwordMinutesOfInactivityBeforeLock": null,
  "passwordExpirationDays": null,
  "passwordPreviousPasswordBlockCount": null,
  "securityPreventInstallAppsFromUnknownSources": false,
  "securityDisableUsbDebugging": false,
  "securityRequireVerifyApps": false,
  "deviceThreatProtectionEnabled": {{ device_threat_protection_enabled | tojson }},
  "deviceThreatProtectionRequiredSecurityLevel": {{ device_threat_protection_level | tojson }},
  "securityBlockJailbrokenDevices": {{ security_block_jailbroken | tojson }},
  "storageRequireEncryption": {{ storage_require_encryption | tojson }},
  "securityRequireSafetyNetAttestationBasicIntegrity": false,
  "securityRequireSafetyNetAttestationCertifiedDevice": false,
  "securityRequireGooglePlayServices": false,
  "securityRequireUpToDateSecurityProviders": false,
  "securityRequireCompanyPortalAppIntegrity": false,
  "osMinimumVersion": null,
  "osMaximumVersion": null,
  "minAndroidSecurityPatchLevel": null,
  "scheduledActionsForRule": [
    {{ scheduled_action(scheduled_actions) }}
  ],
  "assignments": {{ assignments_array(assignments) }}
}
{% elif platform == "macos" %}
{
  "@odata.type": "#microsoft.graph.macOSCompliancePolicy",
  {{ audit_fields(id, created_date, modified_date) }},
  "displayName": {{ display_name | tojson }},
  "description": {{ description | tojson }},
  "version": 1,
  "roleScopeTagIds": ["0"],
  "passwordRequired": {{ password_required | tojson }},
  "passwordBlockSimple": {{ password_block_simple | tojson }},
  "passwordMinimumLength": {% if password_min_length > 0 %}{{ password_min_length }}{% else %}null{% endif %},
  "passwordRequiredType": {{ password_required_type | tojson }},
  "passwordMinutesOfInactivityBeforeLock": null,
  "passwordExpirationDays": null,
  "passwordPreviousPasswordBlockCount": null,
  "passwordMinimumCharacterSetCount": null,
  "systemIntegrityProtectionEnabled": {{ system_integrity_protection | tojson }},
  "deviceThreatProtectionEnabled": {{ device_threat_protection_enabled | tojson }},
  "deviceThreatProtectionRequiredSecurityLevel": {{ device_threat_protection_level | tojson }},
  "storageRequireEncryption": {{ storage_require_encryption | tojson }},
  "firewallEnabled": {{ firewall_enabled | tojson }},
  "firewallBlockAllIncoming": {{ firewall_block_all_incoming | tojson }},
  "firewallEnableStealthMode": false,
  "osMinimumVersion": null,
  "osMaximumVersion": null,
  "osMinimumBuildVersion": null,
  "osMaximumBuildVersion": null,
  "scheduledActionsForRule": [
    {{ scheduled_action(scheduled_actions) }}
  ],
  "assignments": {{ assignments_array(assignments) }}
}
{% endif %}
