{% from "macros/common.j2" import audit_fields, assignments_array %}
{
  "@odata.type": "#microsoft.graph.androidGeneralDeviceConfiguration",
  {{ audit_fields(id, created_date, modified_date) }},
  "displayName": {{ display_name | tojson }},
  "description": {{ description | tojson }},
  "version": 1,
  "roleScopeTagIds": ["0"],
  "appsBlockClipboardSharing": false,
  "appsBlockCopyPaste": false,
  "appsBlockYouTube": false,
  "bluetoothBlocked": {{ bluetooth_blocked | tojson }},
  "cameraBlocked": {{ camera_blocked | tojson }},
  "cellularBlockDataRoaming": false,
  "cellularBlockMessaging": false,
  "cellularBlockVoiceRoaming": false,
  "cellularBlockWiFiTethering": false,
  "compliantAppListType": {{ compliant_app_list_type | tojson }},
  "compliantAppsList": [],
  "deviceSharingAllowed": false,
  "diagnosticDataBlockSubmission": false,
  "factoryResetBlocked": {{ factory_reset_blocked | tojson }},
  "googleAccountBlockAutoSync": false,
  "googlePlayStoreBlocked": false,
  "kioskModeApps": [],
  "kioskModeBlockSleepButton": false,
  "kioskModeBlockVolumeButtons": false,
  "locationServicesBlocked": {{ location_services_blocked | tojson }},
  "nfcBlocked": {{ nfc_blocked | tojson }},
  "passwordBlockFingerprintUnlock": false,
  "passwordBlockTrustAgents": false,
  "passwordExpirationDays": null,
  "passwordMinimumLength": {% if password_min_length > 0 %}{{ password_min_length }}{% else %}null{% endif %},
  "passwordMinutesOfInactivityBeforeScreenTimeout": null,
  "passwordPreviousPasswordBlockCount": null,
  "passwordRequired": {{ password_required | tojson }},
  "passwordRequiredType": {{ password_required_type | tojson }},
  "passwordSignInFailureCountBeforeFactoryReset": null,
  "powerOffBlocked": false,
  "screenCaptureBlocked": {{ screen_capture_blocked | tojson }},
  "securityRequireVerifyApps": false,
  "storageBlockGoogleBackup": false,
  "storageBlockRemovableStorage": false,
  "storageRequireDeviceEncryption": {{ storage_require_device_encryption | tojson }},
  "storageRequireRemovableStorageEncryption": false,
  "voiceAssistantBlocked": false,
  "voiceDialingBlocked": false,
  "webBrowserBlockAutofill": false,
  "webBrowserBlocked": false,
  "webBrowserBlockJavaScript": false,
  "webBrowserBlockPopups": false,
  "webBrowserCookieSettings": {{ web_browser_cookie_settings | tojson }},
  "wiFiBlocked": {{ wifi_blocked | tojson }}
  {% if wifi_psk %}
  ,"_networkConfig": {
    "wiFiPsk": {{ wifi_psk | tojson }},
    "ssid": "CorpWiFi",
    "securityType": "wpaPersonal"
  }
  {% endif %}
  ,"assignments": {{ assignments_array(assignments) }}
}
