    - name: Install packages via dnf
      ansible.builtin.dnf:
        name: "{% raw %}{{ item }}{% endraw %}"
        state: present
        update_cache: false
        allow_downgrade: false
        autoremove: false
        disable_gpg_check: false
        download_only: false
        install_weak_deps: true
        lock_timeout: 30
        security: false
        skip_broken: false
        sslverify: true
        update_only: false
        validate_certs: true
      loop:
{% for v in vars_list %}
{% if v.key == 'node_version' %}
        - nodejs
        - npm
{% endif %}
{% endfor %}
        - curl
      ignore_errors: false
      check_mode: false
      no_log: false
      run_once: false
      become: {{ become }}
